@tailwind base;

body {
  @apply transition duration-500 ease-in-out;
}


/* a {
  @apply text-blue-700 hover:text-blue-700 before:text-blue-500
  after:text-blue-500
} */
 


.middle {
  @apply before:bg-blue-700  transition duration-500 ease-in-out;
}

@tailwind components;
@tailwind utilities;

.hamburger {
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: all 0.25s;
  position: relative;
}

.harburger-top,
.harburger-middle,
.harburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  transform: translate(0px);
  transition: all 0.5s;
}
.harburger-middle {
  transform: translateY(7px);
}
.harburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .harburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .harburger-middle {
  display: none;
}
.open .harburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.middle {
  position: relative;
}
.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.un {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.un:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

body {
  font-family: "DM Sans", sans-serif;
}





/* Auth Layout Styles */
.auth-layout-div-width{
  width: 43.19%;
}

/* Form Styles */
.form-width{
  width: 520px;
}

@media screen and (max-width: 1023px) {
  .header-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 40%;
    margin-top: 94.5px;
  }

  .header-links.open {
    transform: translateX(0);
  }
}

body.is-side-menu-open {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .header-links {
    margin-top: 84.5px;
  }
}

@media screen and (max-width: 639px) {
  .header-links {
    padding-left: 30%;
  }
}